.mr_myresume_r {
  float: right;
  width: 282px;
}

.mr_r_nav {
  margin-bottom: 18px !important;
}

.mr_r_nav ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mr_r_nav li {
  float: left;
  width: 66px;
  height: 66px;
  margin-right: 6px;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.mr_r_nav li a {
  position: relative;
  display: block;
  padding-top: 40px;
    // height: 26px;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 2.5px;
}

.clearfixs:before,
.clearfixs:after {
  content: '';
  display: table;
}
.clearfixs:after {
  display: block;
  clear: both;
}
.clearfixs {
  *zoom: 1;
}

.mr_r_nav li a .td {
  background-position: 0 -316px;
}

.mr_r_nav li a .yq {
  background-position: -101px -316px;
}

.mr_r_nav li a .sc {
  background-position: -35px -316px;
}

.mr_r_nav li a .dy {
  background-position: -67px -316px;
}

.mr_r_nav li a i {
  position: absolute;
  left: 50%;
  margin-left: -14px;
  top: 12px;
  width: 30px;
  height: 25px;
  background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png)
    no-repeat;
}

.mr_r_nav .mr_none {
  margin-right: 0;
}

a {
  color: #555;
  background-color: transparent;
  text-decoration: none;
}

.mr_upload {
  position: relative;
  height: 57px;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 18px !important;
}

.mr_upload i {
  position: absolute;
  top: 22px;
  left: 58px;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -64px -70px
    no-repeat;
}

.mr_upload a.inline {
  display: block;
  text-align: center;
  line-height: 57px;
}

.mr_upload a {
  cursor: pointer;
}
.mr_upload * {
  vertical-align: middle;
}

.dn {
  display: none;
}

.mr_uploaded {
  position: relative;
  padding: 0;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 18px !important;
}

.mr_del {
  float: right;
  margin: 2px 2px 0 0 !important;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 15px;
  height: 15px;
  background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/delete_3e0bb29.png)
    right top no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.mr_up_main {
  padding: 0 30px 0 48px !important;
  margin: 20px 0 14px 20px !important;
  background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -160px -267px
    no-repeat;
}

.mr_set_default {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding: 7px 0 !important;
  height: 34px;
  background-color: #f2f2f2;
}

.mr_integrity {
  padding: 16px 16px 18px;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 18px;
}

.mr_integrity .mr_top {
  margin-bottom: 16px;
}

.mr_integrity .mr_top .mr_tip_l {
  vertical-align: middle;
  float: left;
}

em,
i {
  font-style: normal;
}

.mr_bfb {
  color: #00b88d;
}

.mr_integrity .mr_top .mr_tip_r {
  vertical-align: middle;
  float: right;
  color: #00b88d;
}

.mr_integrity_m {
  position: relative;
  height: 6px;
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.mr_integrity_m .mr_solid {
  position: absolute;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 3;
  background-color: #00b88d;
}

.mr_integrity_m .mr_dashed {
  position: absolute;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 2;
  background-color: #a6ded1;
}

.mr_module li.active {
  border-color: #00b88d;
  border-width: 2px;
}

.mr_module li {
  height: 50px;
  line-height: 50px;
  border-left: 2px solid transparent;
  margin-left: -1px;
  border-left: 1px solid #e5e5e5;
  padding-left: 6px;
  cursor: pointer;
}

.mr_module li i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png)
    no-repeat;
  margin: 0 24px 0 29px;
}

.mr_module li.active .mr_base_i {
  background-position: -5px -117px;
}

.mr_module li.active i {
  margin-left: 28px;
}

.mr_module li .mr_works_i {
  background-position: -24px -137px;
}

.mr_module li .mr_edu_i {
  background-position: -24px -156px;
}

.mr_module li.m_hide .mr_project_i {
  background-position: -67px -177px;
}

.mr_module li.m_hide .mr_production_i {
  background-position: -67px -198px;
}

.mr_module li.m_hide .mr_self_i {
  background-position: -67px -219px;
}

.mr_module li .mr_hopework_i {
  background-position: -67px -240px;
}

.mr_module li.m_hide .mr_skill_i {
  background-position: -67px -262px;
}

.mr_module li.m_hide .mr_moudle_i {
  background-position: -67px -285px;
}

.mr_module li .mr_addmd_i {
  background-position: -24px -177px;
}

.mr_module li.hide_md .mr_project_i {
  background-position: -44px -177px;
}

.mr_module li.hide_md .mr_production_i {
  background-position: -44px -198px;
}

.mr_module li.hide_md .mr_self_i {
  background-position: -44px -219px;
}

.mr_module li .mr_hopework_i {
  background-position: -67px -240px;
}

.mr_module li.hide_md .mr_skill_i {
  background-position: -44px -262px;
}

.mr_module li.hide_md .mr_moudle_i {
  background-position: -44px -285px;
}

.md_flag {
  position: relative;
}

.mr_module li.hide_md {
  border-color: #f2f2f2;
}
