
//页面左侧
.mr_myresume_l {
    float: left;
    width: 730px;
    margin-bottom: 20px;
}
#mr_mr_head {
    position: relative;
    margin-bottom: 0;
}

.container {
    width: 1024px;
    height: 904px;
    margin: 35px 197px auto auto;
    padding-bottom: 80px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.mr_top_bg {
    position: relative;
    height: 200px;
    width: 730px;
    background: #fafafa url(//www.lgstatic.com/www/static/mycenter/modules/common/img/tou_c3707c7.png) center top no-repeat;
    z-index: 2;
}

//input upload file
#uploadHeadPic {
    position: absolute;
    left: 315px;
    top: 85px;  
}
//baseInfo
form {
    display: block;
    margin-top: 0em;
}

.mr_baseinfo {
    position: relative;
    min-height: 118px;
    padding: 56px 0 10px!important;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

//baseinfo_PsersonName
.mr_name {
    display: block;
    height: 40px;
    width: 468px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 30px;
    color: #333;
    text-align: center;
}
.mr_w604 {
    width: 604px;
    margin: 0 auto;
}
.mr_p_name {
    height: 40px;
    line-height: 38px;
    margin-bottom: 8px!important;
}
.mr_edit {
    float: right;
    margin-right: 12px;
    cursor: pointer;
    height: 34px;
}
.mr_edit em {
    font-size: 16px;
    font-style: normal;
    color: #00b38a;
}

//name_form
.mr_name_edit {
    padding-left: 155px;
    min-height: 40px;
    line-height: 30px;
    padding-bottom: 8px;
}   

//name_error
//introduce
.mr_p_introduce {
    line-height: 32px;
    margin-bottom: 8px;
    min-height: 34px;
}
.mr_p_introduce .mr_edit {
    height: 34px;
}
.mr_p_introduce .mr_intro {
    font-size: 16px;
    width: 468px;
    line-height: 34px;
}
.mr_intro {
    display: block;
    color: #333;
    text-align: center;
    margin: 0 auto;
}

//form_introduce
.mr_intro_edit {
    padding-left: 155px;
    margin-bottom: 8px;
}
.mr_intro_edit .ed_name {
    padding: 1px 10px;
    height: 38px;
}

//p_info
.mr_created .mr_infoed {
    margin-bottom: 0;
}

.mr_p_info {
    position: relative;
    color: #666;
    padding: 5px 0 7px;
}

.mr_info_edit {
    padding: 40px 0 50px 155px;
    background-color: #fefef2;
}

.mr_p_info .info_t {
    text-align: center;
    margin-bottom: 8px;
}
.mr_p_info .shenfen {
    margin-right: 15px;
}
.mr_p_info em {
    width: 151px;
    height: 18px;
    font-size: 16px;
    vertical-align: middle;
    font-style: normal;
}

//p_introduce_baseInfo
.mr_p_info .base_info em {
    margin-right: 6px;
    height: 24px;
}
.mr_p_info .info_j {
    text-align: center;
    margin-bottom: 8px;
}
.mr_p_info .base_info i {
    width: 13px;
    height: 13px;
    background-position: -111px -70px;
}

//p_email&phone
.mr_p_info .info_b {
    text-align: center;
}
.mr_p_info .mobile {
    margin-right: 18px;
}
.mr_p_info .mobile i {
    width: 12px;
    height: 14px;
    background-position: -131px -70px;
}

.mr_p_info .email i {
    width: 14px;
    height: 10px;
    background-position: -150px -73px;
}

.mr_p_info .mr_edit {
    position: absolute;
    right: 0;
    top: 4px;
}

.mr_p_info i {
    display: inline-block;
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}


    
//编辑个人信息
//edit_p_info
.mr_p_name em 
{
    width: 151px; 
    height: 18px; 
    font-size: 16px; 
    vertical-align: middle; 
    font-style: normal; 
}
.mr_p_introduce em 
{
    width: 151px; 
    height: 18px; 
    font-size: 16px; 
    vertical-align: middle; 
    font-style: normal; 
}
.mr_info_edit {
    padding: 40px 0 50px 155px;
}
.mr_info_on {
    padding-left: 83px!important;
}
label {
    font-size: 16px;
    display: block;
    color: #5e5e5a;
    padding-bottom: 4px;
    padding-left: 3px;
}
  
//实习经历

//实习和教育经历的整个框架
.mr_myresume_l .mr_content {
    padding-top: 26px;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
//实习经历_head
.mr_moudle_head {
    margin-bottom: 23px;
}
.mr_moudle_head .mr_head_l {
    float: left;
}
.mr_title .mr_title_l {
    width: 230px;
    height: 0;
    border-top: 1px solid #ededed;
}
.mr_title span {
    vertical-align: middle;
    display: inline-block;
}
.mr_title .mr_title_c {
    font-size: 18px;
    padding: 6px 24px;
    text-align: center;
    background-color: #eee;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    margin: 0 13px;
}
.mr_title .mr_title_r {
    width: 152px;
    height: 0;
    border-top: 1px solid #ededed;
}
.mr_moudle_head .mr_head_r {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}
.mr_moudle_head .mr_head_r i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -5px -69px no-repeat;
    margin-right: 6px;
}
.mr_moudle_head .mr_head_r * {
    vertical-align: middle;
}
.mr_moudle_head .mr_head_r em {
    font-size: 16px;
    font-style: normal;
    color: #00b88d;
}

//实习经历显示出来的页面样式
#workExperience .mr_moudle_content {
    padding-bottom: 0;
}
.mr_moudle_content {
    padding-bottom: 21px;
    color: #555;
    font-size: 14px;
}
.mr_moudle_content .mr_add_work {
    position: relative;
    padding: 48px 88px;
    background-color: #fff4fcfd;
    margin: 0 -48px;
    margin-bottom: 20px;
}
//未显示的
.mr_upload_logo {
    position: absolute;
    right: 88px;
    top: 74px;
    width: 120px;
    height: 120px;
    border: 1px solid #f1f3e9;
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.mr_upload_logo div {
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 120px;
    height: 52px;
    padding-top: 68px;
}
#uploadComLog {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    width: 120px;
    height: 120px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.mr_upload_logo img {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.mr_upload_logo div i {
    position: absolute;
    left: 50px;
    top: 37px;
    width: 21px;
    height: 18px;
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/upload_logo_shadow_61afa0b.png) -1px 0 no-repeat;
}
.mr_upload_logo div span {
    color: #999;
}
.fl {
    float: left!important;
}
.wrap_editor {
    position: relative!important;
    width: 522px!important;
}

.mr_ope {
    padding-top: 34px;
}
.mr_created textarea {
    font-size: 14px;
}

.mr_empty_add span {
    vertical-align: middle;
    font-size: 16px;
    color: #00b88d;
}
/////////
#workExperience .list_show {
    padding-bottom: 6px;
}
.mr_jobe_list {
    padding-bottom: 44px;
}
.mr_moudle_content .mr_content_l {
    float: left;
    max-width: 445px;
}
.mr_moudle_content .mr_content_l .l1 {
    float: left;
    margin-right: 10px;
}
.mr_moudle_content .mr_content_l .l1 img {
    width: 46px;
    height: 46px;
    border: 2px solid #eee;
}

.mr_moudle_content .mr_content_l .l2 {
    position: relative;
    float: left;
    padding-top: 10px;
    max-width: 380px;
}
.mr_moudle_content .mr_content_l .l2 h4 {
    font-size: 16px;
}

.mr_moudle_content .mr_content_r {
    float: right;
    text-align: right;
}
.mr_c_r_t {
    text-align: right;
    margin: 5px 0 2px;
    float: none;
}
.mr_edit i {
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 7px;
}

#workExperience .mr_content_m {
    padding-bottom: 1px;
    padding-top: 4px;
}

.clearfixs:after {
    display: block;
    clear: both;
}
.clearfixs:before, .clearfixs:after {
    content: "";
    display: table;
}
//页面右侧
.mr_myresume_r {
    //margin-right: 15px;
    float: right;
    width: 290px;
}
.mr_r_nav {
    margin-bottom: 18px!important;
}
.mr_r_nav ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}   
.mr_r_nav li {
    float: left;
    width: 66px;
    height: 66px;
    margin-right: 3px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}
.mr_r_nav li a {
    margin-bottom: 20px;
    position: relative;
    display: block;
    padding-top: 40px;
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: #fafafa;
}
a {
    color: #555;
}
.mr_r_nav li a .td {
    background-position: 0 -316px;
}

.mr_r_nav li a .sc {
    background-position: -35px -316px;
}

//上传简历
.mr_upload {
    position: relative;
    height: 57px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 18px!important;
}

.mr_integrity {
    padding: 16px 16px 18px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 18px;
}
.mr_integrity .mr_top {
    margin-bottom: 16px;
}
.mr_integrity_m {
    position: relative;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
}
.mr_integrity .mr_top .mr_tip_l {
    vertical-align: middle;
    float: left;
}
.mr_integrity .mr_top .mr_tip_r {
    vertical-align: middle;
    float: right;
    color: #00b88d;
}
.mr_integrity_m {
    position: relative;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
}
.mr_integrity_m .mr_solid {
    position: absolute;
    height: 100%;
    border-radius: 3px;
    z-index: 3;
    background-color: #00b88d;
}
.mr_integrity_m .mr_dashed {
    position: absolute;
    height: 100%;
    border-radius: 3px;
    z-index: 2;
    background-color: #a6ded1;
}
em {
    font-size: 16px;
    font-style: normal;
}
.mr_module li.active {
    border-color: #00b88d;
    border-width: 2px;
}
.mr_module li a {
    font-size: 16px;
    display: block;
    height: 100%;
    color: #333;
    margin-bottom: 15px;
}
.mr_module li.active .mr_base_i {
    background-position: -5px -117px;
}

.mr_module li.active i {
    margin-left: 28px;
}
.mr_module li i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
    margin: 0 24px 0 29px;
}
.mr_module li.active .mr_m_name {
    color: #00b88d;
}
.mr_module li .mr_works_i {
    background-position: -24px -137px;
}

.mr_module li i {
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
}

.mr_module li .mr_edu_i {
    background-position: -24px -156px;
}

.mr_module li i {
    background: url(//www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
}