.line-gray {
  border-bottom: 1px #dcdcdc;
  border-style: none none dashed none;
}

.line-gray-vertical {
  display: inline;
  border-right: 1px #dcdcdc;
  border-style: none dashed none none;
}

.bottom {
  display: inline;
  &-top {
    color: #2d8cf0;
  }
  &-bottom {
    color: #495060;
  }
}
